@media (max-width: 500px) {
    *{
        line-height: normal;
    }

    .container {
        width: 100%;
    }

    /* main mobile view */
    main {
        background-color: blue;
        height: 600px;
        position: relative;
        padding: 100px 0 ;
        color: white;
        width: 100%;
    }

    main .deployment {
        animation: slideinfromtop 1s ease-in;
    }

    main .container {
        display: block;
        gap: 20px;
    }

    main h1 {
        font-size: 30px;
    }

    main .demo {
        /* top: 20px; */
        z-index: 100;
        justify-self: center;
        margin: auto;
        animation: slideinfrombottom 1s ease-in;
    }
    
    /* platform mobile view */
    .platform-img {
        display: block;
        text-align: center;
        margin-top: 40px;
    }

    /* npm mobile view */
    .npm {
        padding-bottom: 100px;
        display: block;
        margin-top: 60px;
    }

    /* cloud mobiole view */
    .cloud .container {
        height: 350px;
        display: block;
        align-items: center;
        gap: 100px;
    }
    
    .cloud .container h2 {
        font-size: 30px;
    }

    .cloud i {
        font-size: 150px;
    }

    /* footer mobile view */

    footer .container {
        height: 280px;
        display: block;
    }
    
    footer .container .first {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    footer .container .second {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    /* features mobile view */
    .features .container {
        display: block;
        
    }

    .feat-platform .container {
        display: block;
        width: 100%;
    }

    .feat-cards {
        display: block;
        margin: 0 10px;
    }

    .feat-platform i {
        font-size: 100px;
    }

    .features i {
        font-size: 100px;
    }
   
    /* docs */
    .docs .container {
        display: block;
    }

    .docs .lead h3 {
        font-size: 30px;
    }
    .docs .container i {
        font-size: 100px;
    }
    
    .docs-main {
        padding: 30px 0;
        display: block;
       
    }




}